<div class="footer">
  <div class="container text-center footer-content">
    <ul class="list-inline">
      <li><a href="/">Główna</a></li>
      <!-- <li><i class="fa fa-square"></i></li> -->
      <li><a href="/about">O nas</a></li>
      <!-- <li><i class="fa fa-square"></i></li> -->
      <li><a href="/gallery">Galeria</a></li>
      <!-- <li><i class="fa fa-square fa-sm"></i></li> -->
      <li><a href="/contact">Kontakt</a></li>

    </ul>
    <p class="pull-right">
      <a href="http://www.mtweb.xyz">Created by M&T</a>
    </p>
  </div>

</div>
