<div class="header-baner">
  <div class="container">
    <h1>Montostal</h1>
  </div>

</div>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container menu-border">

    <!--        mobile   -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="/">Montostal
        </a>
    </div>
    <!-- end header       -->

    <!--  navbar content links etc       -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">STRONA GŁÓWNA</a></li>
        <li><a href="/about">O NAS</a></li>
        <li><a href="/gallery">GALERIA</a></li>
        <li><a href="/contact">KONTAKT</a></li>
      </ul>
    </div>
  </div>
  <!-- /.container-fluid      -->
</nav>
