<div class="container">
  <div class="row well">
    <div class="col-sm-4 ">
      <h3>Przedsiębiorstwo Handlowo-Produkcyjno-Usługowe "Montostal" Krzysztof Olak</h3>
      <p >
        ul. Szklana 20 <br>
        43-300 Bielsko-Biała <br>
        woj. śląskie
      </p>
    </div>
    <div class="col-sm-8 ">
      <iframe class="gmap" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10295.945516861671!2d18.9974645!3d49.8239212!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x59a397db67dd9ab7!2sMontostal.+Konstrukcje+stalowe.+Inwestycje+budowlane.+%C5%9Alusarstwo.+Olak+K.!5e0!3m2!1spl!2spl!4v1456934327914"  allowfullscreen></iframe>
    </div>
  </div>


  <div class="row well">
    <form method="POST" class="form-horizontal">
      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Adress Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" name="email" placeholder="Email" required>
        </div>
      </div>
      <div class="form-group">
        <label for="subject" class="col-sm-2 control-label">Temat</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" name="subject" placeholder="Temat">
        </div>
      </div>
      <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Wiadomość</label>
        <div class="col-sm-6">
          <textarea class="form-control" name="content" placeholder="..." rows="5"></textarea>
          <button type="submit" class="btn btn-default pull-right">Wyślij</button>

        </div>
      </div>
    </form>
  </div>
</div>
