<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <a href="/images/img1.jpg" class="thumbnail" data-lightbox="galery">
        <img src="/images/img1.jpg" alt="...">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="/images/img2.jpg" class="thumbnail" data-lightbox="galery">
        <img src="/images/img2.jpg" alt="...">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="/images/img3.jpg" class="thumbnail" data-lightbox="galery">
        <img src="/images/img3.jpg" alt="...">
      </a>
    </div>
    <div class="col-md-4 col-sm-6">
      <a href="/images/img4.jpg" class="thumbnail" data-lightbox="galery">
        <img src="/images/img4.jpg" alt="...">
      </a>
    </div>
  </div>

</div>
